.btn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  &--read {
    color: #fff;
    padding: 1rem 2rem;
    background-color: $color-green;
    margin-right: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    border: 2px solid transparent;
  }

  &--call:link,
  &--call:visited {
    color: $color-green;
    padding: 1rem 2rem;
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all 0.2s;
    border: 2px solid transparent;
  }

  &--call:hover {
    background-color: transparent;
    border: 2px solid #fff;
  }
}

.btn-schedule {
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: 700;
  background-color: #fff;
  border: 2px solid $color-dark;
}

.btn--intro {
  width: 12rem;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid $color-dark;
  margin-top: 4rem;
}
