.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;

  &--read:link,
  &--read:visited {
    color: #fff;
    background-color: $color-green;
    margin-right: 1.5rem;
    border: 2px solid transparent;
    transition: all 0.4s;
  }

  &--read:hover,
  &--read:active {
    color: $color-green;
    border: 2px solid $color-green;
    background-color: transparent;
  }

  &--call:link,
  &--call:visited {
    color: $color-green;
    background-color: #fff;
    transition: all 0.4s;
    border: 2px solid transparent;
    margin-left: 4rem;
  }

  &--call:hover,
  &--call:active {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
  }

  &--schedule {
    font-size: 1.4rem;
    letter-spacing: 1px;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.4s;
    cursor: pointer;
    padding: 1rem 2rem;
    color: #fff;

    @include respond(1200) {
      padding: 1rem 1.5rem;
    }

    @include respond(900) {
      padding: 1rem;
    }
  }

  &--schedule:hover {
    transform: scale(1.1) translateY(-3px);
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  }

  &--intro:link,
  &--intro:visited {
    color: $color-green;
    width: 12rem;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.5rem 3.5rem;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid $color-green;
    margin-top: 4rem;
    transition: all 0.4s;
  }

  &--intro:hover,
  &--intro:active {
    background-color: $color-green;
    color: #fff;
  }

  &--contact:link,
  &--contact:visited {
    padding: 1rem 4rem;
    color: #fff;
    background-color: $color-green;
    transition: all 0.4s;
    border: 2px solid transparent;
  }

  &--contact:hover,
  &--contact:active {
    background-color: #fff;
    color: $color-green;
    border: 2px solid $color-green;
  }
}
