.btn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto';
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;

  &--read:link,
  &--read:visited {
    color: #fff;
    background-color: $color-green;
    margin-right: 1.5rem;
    border: 2px solid transparent;
    transition: all 0.2s;
  }

  &--read:hover,
  &--read:active {
    color: $color-green;
    border: 2px solid $color-green;
    background-color: transparent;
  }

  &--call:link,
  &--call:visited {
    color: $color-green;
    background-color: #fff;
    transition: all 0.2s;
    border: 2px solid transparent;
    margin-left: 4rem;
  }

  &--call:hover,
  &--call:active {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
  }

  &--schedule {
    background-color: #fff;
    border: 2px solid $color-dark;
    transition: all 0.2s;
    cursor: pointer;
  }

  &--schedule:hover {
    color: #fff;
    background-color: $color-green;
    border: 2px solid transparent;
  }
}

.btn--intro {
  width: 12rem;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid $color-dark;
  margin-top: 4rem;
}
