.navigation {
  background-color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 500;
  position: fixed;
  border-bottom: 2px solid $color-light-1;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    margin-left: 25rem;
    height: 8rem;
    display: flex;
    align-items: center;
  }

  &__menu {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 3.5rem;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
  }

  &__link::after {
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    top: 6rem;
    left: 0;
    color: $color-green;
    border-top: 1px solid transparent;
    transition: all, 0.3s;
  }

  &__link:link,
  &__link:visited {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 900;
    text-decoration: none;
    color: $color-dark;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__link:hover,
  &__link:active {
    color: $color-green;
  }

  &__link:hover::after,
  &__link:active::after {
    width: 110%;
    border-top: 1px solid $color-green;
  }
}
