*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  // @include respond(1200px) {
  //   font-size: 56.25%;
  // }

  // @include respond(900px) {
  //   font-size: 56.25%;
  // }

  // @include respond(1800px) {
  //   font-size: 75%;
  // }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.container {
  width: 80%;
  margin: 0 auto;
}
