.logo-text {
  text-decoration: none;
  color: $color-dark;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Roboto";
  text-transform: uppercase;

  @include respond(1200) {
    font-size: 1.8rem;
  }
}

.heading-primary {
  font-size: 3.8rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.heading-secondary {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.4rem;
  color: $color-grey;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label,
input,
div {
  &::selection {
    background-color: $color-green;
    color: #fff;
  }
}
