.logo {
  text-decoration: none;
  color: $color-dark;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'Roboto';
  text-transform: uppercase;
}

.heading-primary {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.heading-secondary {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.4rem;
  color: $color-grey;
}
