/*==================================================
COLOR
==================================================*/
$color-green: rgb(29, 112, 113);
$color-dark: #2f2f2f;
$color-grey: #9e9e9e;

$color-light-1: #f7f7f7;
