/*==================================================
COLOR
==================================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 64em) {
    .container {
      width: 85%; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      width: 90%; } }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem; } }

.u-margin-bottom-huge {
  margin-bottom: 8rem; }

.logo-text {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Roboto';
  text-transform: uppercase; }
  @media only screen and (max-width: 75em) {
    .logo-text {
      font-size: 1.8rem; } }

.heading-primary {
  font-size: 3.8rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px; }

.heading-secondary {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700; }

.heading-3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  font-size: 1.4rem;
  color: #9e9e9e; }

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection,
a::selection,
label::selection,
input::selection,
div::selection {
  background-color: #1d7071;
  color: #fff; }

.navigation {
  background-color: #1d7071;
  top: 0;
  width: 100%;
  z-index: 500;
  position: fixed;
  padding: 0.8rem 0;
  box-shadow: none;
  transition: all 0.2s; }
  .navigation--collapse {
    padding: 0;
    background-color: #1d7071;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1); }
  .navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__box {
    margin-left: auto;
    height: 8rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .navigation__box {
        height: 6.5rem; } }
  .navigation__menu {
    height: 100%;
    display: flex;
    align-items: center; }
  .navigation__item {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    height: 100%;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all 0.3s; }
    @media only screen and (max-width: 56.25em) {
      .navigation__item {
        margin-right: 1.5rem; } }
  .navigation__link::after {
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    top: 6rem;
    left: 0;
    color: #fff;
    border-top: 1px solid transparent;
    transition: all, 0.3s; }
  .navigation__link:link, .navigation__link:visited {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .navigation__link:hover::after, .navigation__link:active::after {
    width: 110%;
    border-top: 1px solid #fff; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center; }
  .btn--read:link, .btn--read:visited {
    color: #fff;
    background-color: #1d7071;
    margin-right: 1.5rem;
    border: 2px solid transparent;
    transition: all 0.4s; }
  .btn--read:hover, .btn--read:active {
    color: #1d7071;
    border: 2px solid #1d7071;
    background-color: transparent; }
  .btn--call:link, .btn--call:visited {
    color: #1d7071;
    background-color: #fff;
    transition: all 0.4s;
    border: 2px solid transparent;
    margin-left: 4rem; }
  .btn--call:hover, .btn--call:active {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff; }
  .btn--schedule {
    font-size: 1.4rem;
    letter-spacing: 1px;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.4s;
    cursor: pointer;
    padding: 1rem 2rem;
    color: #fff; }
    @media only screen and (max-width: 75em) {
      .btn--schedule {
        padding: 1rem 1.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .btn--schedule {
        padding: 1rem; } }
  .btn--schedule:hover {
    transform: scale(1.1) translateY(-3px);
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1); }
  .btn--intro:link, .btn--intro:visited {
    color: #1d7071;
    width: 12rem;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.5rem 3.5rem;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid #1d7071;
    margin-top: 4rem;
    transition: all 0.4s; }
  .btn--intro:hover, .btn--intro:active {
    background-color: #1d7071;
    color: #fff; }
  .btn--contact:link, .btn--contact:visited {
    padding: 1rem 4rem;
    color: #fff;
    background-color: #1d7071;
    transition: all 0.4s;
    border: 2px solid transparent; }
  .btn--contact:hover, .btn--contact:active {
    background-color: #fff;
    color: #1d7071;
    border: 2px solid #1d7071; }

.service__details {
  display: flex; }

.service__detail-box {
  display: flex; }

.service__image {
  width: 50%; }

.service__detail-heading {
  font-size: 1.8rem; }

.headernav {
  width: 100%;
  list-style-type: none;
  display: flex;
  height: 10rem;
  background-color: #fff;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .headernav {
      height: 9rem; } }
  @media only screen and (max-width: 56.25em) {
    .headernav {
      height: 7.5rem; } }
  .headernav__item {
    flex: 0 0 25%;
    height: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0; }
    .headernav__item--active {
      background-color: #1d7071 !important;
      border-bottom: 1px solid #1d7071; }
  .headernav__item:hover {
    background-color: #f7f7f7; }
  .headernav__item:not(:last-of-type) {
    border-right: 1px solid #f0f0f0; }
  .headernav__link {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px; }
    .headernav__link--active {
      color: #fff; }

.numbers {
  padding-bottom: 8rem; }
  .numbers .container {
    display: flex;
    justify-content: space-between; }
  .numbers__box {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .numbers__heading {
    font-size: 4rem;
    font-weight: 700;
    color: #1d7071; }
  .numbers__description {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }

.form {
  display: flex;
  flex-direction: column; }
  .form label {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 400; }
  .form input[type='text'],
  .form input[type='email'] {
    width: 80%;
    padding: 1rem 0.5rem;
    font-size: 1.6rem; }
  .form select {
    width: 80%;
    height: 3rem;
    background-color: #fff;
    font-size: 1.6rem; }
  .form textarea {
    height: 15rem;
    width: 80%;
    font-size: 1.4rem; }
  .form input[type='submit'] {
    width: 10rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px; }

.contactbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 3rem; }

.header {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 90vh; }
  .header--1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/img/hero1.jpg"); }
  .header--2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/img/hero2.jpg"); }
  .header--3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/img/hero3.jpg"); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__icon {
    cursor: pointer; }
  .header__icon--left {
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 5rem;
    color: #1d7071; }
  .header__icon--right {
    position: absolute;
    top: 45%;
    right: 5%;
    font-size: 5rem;
    color: #1d7071; }
  .header__bottom-menu {
    display: flex;
    border-bottom: 1px solid #f7f7f7; }
  .header__bottom-item {
    flex: 0 0 25%;
    list-style: none;
    display: block;
    text-align: center;
    background-color: #fff;
    transition: all 0.2s;
    cursor: pointer; }
    .header__bottom-item:not(:last-of-type) {
      border-right: 1px solid #f7f7f7; }
    .header__bottom-item--active {
      background-color: #1d7071; }
  .header__bottom-link {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px; }
    .header__bottom-link--active {
      color: #fff; }
  .header--about {
    margin-top: 8rem;
    height: 25rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/img/about.jpg");
    background-position: center 90%;
    background-size: cover;
    position: relative; }
    .header--about__text-box {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%); }
    .header--about__text-box--top {
      display: flex;
      align-items: center; }
    .header--about__home:link, .header--about__home:visited {
      text-decoration: none;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700; }
    .header--about__home:hover, .header--about__home:active {
      color: #1d7071; }
    .header--about i {
      display: block;
      color: #fff;
      font-size: 1.2rem;
      margin: 0 1.5rem; }
    .header--about span {
      display: block;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700; }
    .header--about h2 {
      text-transform: uppercase;
      font-size: 2.6rem;
      font-weight: 700;
      color: #fff; }

.introduction {
  background-color: #f7f7f7;
  z-index: 2; }
  .introduction .container {
    padding: 5rem 4rem;
    background-color: #fff; }
  .introduction__details {
    display: flex;
    justify-content: space-between; }
  .introduction__details--left {
    flex: 0 0 60%; }
  .introduction__details--right {
    flex: 0 0 35%; }
  .introduction__detail {
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 4rem; }
  .introduction__detail-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }
  .introduction__detail-heading {
    font-size: 1.8rem;
    text-transform: capitalize; }
  .introduction__heading {
    font-size: 2.2rem;
    text-transform: capitalize; }
  .introduction__icon {
    font-size: 1.6rem; }
  .introduction__detail-bottom {
    color: #9e9e9e;
    font-size: 1.6rem;
    padding-bottom: 3rem;
    display: none; }

.icons {
  padding: 10rem 0;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 75em) {
    .icons {
      padding: 8rem 0; } }
  .icons__row {
    display: flex;
    justify-content: space-between; }
  .icons__box {
    flex: 0 0 32%;
    opacity: 0;
    transform: translateY(15rem);
    transition: all 1.2s; }
  .icons__header {
    display: flex;
    align-items: center; }
  .icons__icon {
    font-size: 4rem;
    color: #1d7071;
    margin-right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .icons__icon {
        font-size: 3.8rem; } }
  .icons__heading {
    font-size: 1.5rem; }
  .icons__detail {
    font-size: 1.4rem;
    color: #9e9e9e;
    margin-left: 6rem; }

.clients {
  padding: 5rem 0 10rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/img/hero3.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 75em) {
    .clients {
      padding-bottom: 8rem; } }
  .clients .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .clients__heading {
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff; }
  .clients__sub-heading {
    font-size: 2.2rem;
    color: #fff;
    font-weight: 300; }
  .clients__boxes {
    display: flex;
    justify-content: space-between; }
  .clients__box {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    border-radius: 1px;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    opacity: 0;
    transform: scale(0.1);
    transition: all 0.8s; }
  .clients__paragraph {
    font-size: 1.6rem;
    color: #9e9e9e;
    text-align: center;
    position: relative; }
    .clients__paragraph::before {
      content: '\201C';
      font-family: 'Passion One';
      display: block;
      font-size: 15rem;
      position: absolute;
      top: -10rem;
      left: -2rem;
      opacity: 0.2; }
  .clients__stars {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
  .clients__star {
    margin-right: 1rem;
    font-size: 1.4rem;
    color: #1d7071; }
  .clients__info {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .clients__name {
    font-size: 1.8rem; }
  .clients__area {
    font-size: 1.4rem;
    text-transform: capitalize;
    opacity: 0.4; }

.footer {
  background-color: #1f1f1f; }
  .footer__top {
    padding: 3rem 0;
    display: flex;
    background-color: #1a1a1a;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .footer__top {
        padding: 2rem 0; } }
  .footer__top-box {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__icon {
    color: #9e9e9e;
    font-size: 4.5rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 64em) {
      .footer__icon {
        font-size: 3.8rem; } }
  .footer__top-info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .footer__top-content {
    text-decoration: none;
    display: block;
    color: #9e9e9e;
    font-size: 1.4rem;
    position: relative;
    cursor: pointer; }
    .footer__top-content:hover, .footer__top-content:active {
      color: #1d7071; }
    .footer__top-content::after {
      position: absolute;
      content: '';
      display: block;
      width: 2px;
      height: 3rem;
      color: #9e9e9e;
      top: 50%;
      right: 0; }
  .footer__mid {
    display: flex;
    justify-content: space-between; }
  .footer__logo {
    font-family: 'Roboto';
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase; }
  .footer__mid-box {
    flex: 0 0 32%; }
    .footer__mid-box:first-of-type {
      flex: 0 0 30%;
      margin-right: auto; }
  .footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff; }
    .footer__heading--dark {
      color: #2f2f2f; }
  .footer__item {
    display: block;
    padding: 0.5rem 0; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #9e9e9e;
    font-size: 1.3rem; }
  .footer__link:hover, .footer__link:active {
    color: #1d7071; }
  .footer__bottom {
    background-color: #1a1a1a;
    padding: 3rem 0; }
    .footer__bottom .container {
      display: flex;
      justify-content: center; }
    .footer__bottom--left {
      color: #9e9e9e;
      font-size: 1.4rem; }
    .footer__bottom-link:link, .footer__bottom-link:visited {
      text-decoration: none;
      color: #9e9e9e;
      font-size: 1.4rem;
      margin-left: 3rem;
      transition: all 0.2s; }
    .footer__bottom-link:hover, .footer__bottom-link:active {
      color: #1d7071; }

.about {
  padding-top: 30rem;
  padding-bottom: 5rem; }
  .about .container {
    display: flex; }
  .about__details {
    background-color: #f7f7f7;
    position: relative;
    padding: 2rem 8rem 6rem 8rem;
    display: flex;
    flex-direction: column; }
    .about__details::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -20;
      width: 30rem;
      height: 30rem;
      left: 40%;
      top: -29rem;
      background-image: url("/assets/img/jacob&jessica.png");
      background-position: 100% 0;
      background-size: cover; }
  .about__photo {
    width: 100%;
    display: block;
    transform: rotateZ(8deg) translateY(-8rem); }
  .about__heading {
    font-size: 2.4rem; }
  .about__detail {
    font-size: 1.4rem;
    color: #9e9e9e; }
  .about__icon {
    color: #1d7071;
    margin-right: 1rem; }
  .about .btn {
    width: 15rem;
    font-size: 1.6rem; }

.contact {
  padding: 4rem 0; }
  .contact .container {
    display: flex; }
  .contact__left {
    display: flex;
    flex-direction: column; }
  .contact__detail {
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    align-items: center; }
    .contact__detail a:link,
    .contact__detail a:visited {
      text-decoration: none;
      color: #2f2f2f; }
    .contact__detail a:hover,
    .contact__detail a:active {
      color: #1d7071; }
  .contact__icon {
    font-size: 2rem;
    color: #1d7071;
    margin-right: 1.3rem; }
  .contact__right {
    display: flex;
    flex-direction: column; }

.services {
  padding: 10rem 0; }
  .services .container {
    display: flex;
    justify-content: space-between; }
  .services__left {
    flex: 0 0 75%; }
  .services__cards {
    display: flex;
    justify-content: space-between; }
  .services__card {
    flex: 0 0 48%;
    display: flex;
    flex-direction: column; }
  .services__img {
    display: block;
    width: 100%; }
  .services__card-content {
    padding: 3rem;
    background-color: #f7f7f7; }
  .services__details {
    display: flex;
    justify-content: space-between; }
    .services__details--left {
      flex: 0 0 48%; }
    .services__details--right {
      flex: 0 0 48%; }
  .services__detail {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #9e9e9e; }
  .services__icon {
    align-self: center;
    font-size: 1.6rem;
    color: #1d7071;
    margin-right: 1rem; }
  .services__right {
    flex: 0 0 20%; }
  .services__question {
    padding: 3rem;
    border: 1px solid #9e9e9e;
    cursor: pointer; }
    .services__question:hover span,
    .services__question:hover i {
      color: #1d7071; }
    .services__question--top {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .services__question span {
      font-size: 1.6rem;
      font-weight: 700;
      transition: all 0.2s; }
    .services__question--bottom {
      font-size: 1.6rem;
      color: #9e9e9e;
      margin-top: 2rem;
      display: none; }
  .services__question-icon {
    font-size: 1.2rem;
    transition: all 0.2s; }
  .services__nav {
    list-style: none; }
  .services__item {
    padding: 2rem 2.5rem;
    background-color: #f7f7f7;
    margin-bottom: 2px;
    cursor: pointer; }
  .services__item:hover a {
    color: #1d7071; }
  .services__link {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s; }

.headernav-wrapper {
  position: absolute;
  width: 80%;
  margin: 0 10%;
  height: 10rem;
  top: calc(90vh - 10rem);
  z-index: 100; }
  @media only screen and (max-width: 75em) {
    .headernav-wrapper {
      top: calc(90vh - 9rem); } }
  @media only screen and (max-width: 64em) {
    .headernav-wrapper {
      width: 85%;
      margin-left: 7.5%; } }
  @media only screen and (max-width: 56.25em) {
    .headernav-wrapper {
      width: 90%;
      margin-left: 5%;
      top: calc(90vh - 7.5rem); } }
