.icons {
  padding: 10rem 0;
  background-color: $color-light-1;

  @include respond(1200) {
    padding: 8rem 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    flex: 0 0 32%;
    opacity: 0;
    transform: translateY(15rem);
    transition: all 1.2s;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: 4rem;
    color: $color-green;
    margin-right: 2rem;

    @include respond(900) {
      font-size: 3.8rem;
    }
  }

  &__heading {
    font-size: 1.5rem;
  }

  &__detail {
    font-size: 1.4rem;
    color: $color-grey;
    margin-left: 6rem;
  }
}
