.icons {
  padding-top: 55rem;
  padding-bottom: 10rem;
  margin-top: -42rem;
  background-color: $color-light-1;
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    flex: 0 0 32%;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: 4rem;
    color: $color-green;
    margin-right: 2rem;
  }

  &__heading {
    font-size: 1.5rem;
  }

  &__detail {
    font-size: 1.4rem;
    color: $color-grey;
    margin-left: 6rem;
  }
}
