.icons {
  padding: 10rem 0;
  background-color: $color-light-1;
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    flex: 0 0 32%;
    animation: moveInbottom 0.5s ease-out;
    transition: all 0.2s;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: 4rem;
    color: $color-green;
    margin-right: 2rem;
  }

  &__heading {
    font-size: 1.5rem;
  }

  &__detail {
    font-size: 1.4rem;
    color: $color-grey;
    margin-left: 6rem;
  }
}
