.introduction {
  background-color: $color-light-1;
  z-index: 2;

  .container {
    padding: 5rem 4rem;
    background-color: #fff;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__details--left {
    flex: 0 0 60%;
  }

  &__details--right {
    flex: 0 0 35%;
  }
  &__detail {
    border-bottom: 1px solid $color-grey;
    margin-bottom: 4rem;
  }
  &__detail-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__detail-heading {
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  &__heading {
    font-size: 2.2rem;
    text-transform: capitalize;
  }

  &__icon {
    font-size: 1.6rem;
  }

  &__detail-bottom {
    color: $color-grey;
    font-size: 1.6rem;
    padding-bottom: 3rem;
    display: none;
  }
}
